In [2]:
import pandas as pd
movies = pd.read_csv('/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv')
credits = pd.read_csv('/kaggle/input/tmdb-movie-metadata/tmdb_5000_credits.csv')

KeyboardInterrupt:

In [31]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
movies.shape

(4803, 20)

In [5]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [32]:
movies = movies.merge(credits,on='title')

In [ ]:
movies.head()
# budget
# homepage
# id
# original_language
# original_title
# popularity
# production_comapny
# production_countries
# release-date(not sure)

In [ ]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
# 🎬 Keeping only the important columns from the 'movies' dataset:
# ✅ 'movie_id'   -> Unique ID for each movie 🆔
# 🎞️ 'title'     -> Name of the movie 🎥
# 📝 'overview'  -> Short summary of the movie 📖
# 🧬 'genres'    -> Types or categories (like Action, Comedy) 🎭
# 🔑 'keywords'  -> Important tags describing the movie 🏷️
# 👨‍🎤 'cast'     -> Main actors/actresses in the movie 🌟
# 🎬 'crew'      -> People who worked behind the scenes (like director) 👨‍💼

In [8]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
import ast  # 🧙‍♂️ 'ast' মডিউল ইমপোর্ট করা হচ্ছে

# 🧠 'ast' মানে Abstract Syntax Tree
# 📝 এটি ব্যবহার করে আপনি কোনো স্ট্রিং (যেটা দেখতে লিস্ট বা ডিকশনারির মত) 
#    সেটিকে নিরাপদভাবে পাইথনের আসল অবজেক্টে রূপান্তর করতে পারেন।
# 🚫 এটি 'eval' এর চেয়ে অনেক বেশি নিরাপদ!

In [ ]:
def convert(text):
    L = []  # 🧺 একটা খালি লিস্ট তৈরি করা হলো যাতে 'name' গুলো রাখা যাবে
    for i in ast.literal_eval(text):  # 🔍 স্ট্রিং টাইপের ডাটা কে লিস্ট অফ ডিকশনারি তে রূপান্তর করা হচ্ছে
        L.append(i['name'])  # 🏷️ প্রতিটা ডিকশনারি থেকে 'name' কীগুলা বের করে লিস্টে যোগ করা হচ্ছে
    return L  # 🎁 সব নাম নিয়ে তৈরি লিস্টটি রিটার্ন করা হচ্ছে

In [35]:
movies.dropna(inplace=True)

In [ ]:
movies['genres'] = movies['genres'].apply(convert)  # 🎬 প্রতিটি জেনার (genres) কলামে থাকা JSON টাইপ ডাটাকে list বানিয়ে নিচ্ছে
movies.head()  # 👀 উপরের দিকের ৫টা সারি প্রিন্ট করবে যাতে দেখতে পারো ডাটা ঠিকমতো প্রসেস হয়েছে কিনা

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['keywords'] = movies['keywords'].apply(convert)  # 🔑 প্রতিটা 'keywords' স্ট্রিংকে লিস্টে রূপান্তর করে
movies.head()  # 👀 উপরের ৫টি সারি দেখায় ডাটা ঠিকভাবে এসেছে কিনা তা চেক করার জন্য

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
import ast  # 🔧 ast মডিউল ইমপোর্ট করলাম যা স্ট্রিং থেকে পাইথন অবজেক্ট বানাতে সাহায্য করে

ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')
# ➡️ এই স্ট্রিংকে আসল পাইথন লিস্ট অবজেক্টে রূপান্তর করবে
# আউটপুট হবে:
# [
#   {'id': 28, 'name': 'Action'}, 
#   {'id': 12, 'name': 'Adventure'}, 
#   {'id': 14, 'name': 'Fantasy'}, 
#   {'id': 878, 'name': 'Science Fiction'}
# ]

In [ ]:
def convert3(text):
    L = []  # 📝 ফাঁকা লিস্ট বানাচ্ছি যেখানে নামগুলো জমা হবে
    counter = 0  # 🔢 নাম গুনার জন্য কাউন্টার
    for i in ast.literal_eval(text):  # 🔧 স্ট্রিং থেকে লিস্ট অবজেক্টে রূপান্তর করছি
        if counter < 3:  # ⏳ প্রথম ৩ টা আইটেম নেবো শুধু
            L.append(i['name'])  # 🏷️ 'name' বের করে লিস্টে যোগ করবো
        counter += 1  # ➕ কাউন্টার বাড়াচ্ছি
    return L  # 🏁 শেষে প্রথম ৩টা নামের লিস্ট রিটার্ন করবো

In [ ]:
movies['cast'] = movies['cast'].apply(convert)  # 🎭 'cast' কলামের JSON স্ট্রিং থেকে নামগুলো বের করে লিস্টে রূপান্তর করবে
movies.head()  # 👀 প্রথম ৫টি সারি দেখাবে, যেন ডাটা ঠিকমতো এসেছে কিনা বুঝতে পারো

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['cast'] = movies['cast'].apply(lambda x: x[0:3])  # 🎭 প্রতিটি 'cast' লিস্ট থেকে প্রথম ৩ টা সদস্যই নেবে

In [ ]:
def fetch_director(text):
    L = []  # 📝 ফাঁকা লিস্ট যেখানে ডিরেক্টরের নামগুলো রাখা হবে
    for i in ast.literal_eval(text):  # 🔧 JSON স্ট্রিং থেকে আসল লিস্টে রূপান্তর
        if i['job'] == 'Director':  # 🎯 যদি কারো কাজ 'Director' হয়
            L.append(i['name'])  # 🏷️ তার নাম লিস্টে যোগ করো
    return L  # 🏁 শেষে ডিরেক্টরদের নামের লিস্ট রিটার্ন করো

In [ ]:
movies['crew'] = movies['crew'].apply(fetch_director)  
# 🎯 'crew' কলামের JSON ডাটায় থেকে শুধুমাত্র 'Director' এর নাম আলাদা করে নিবে
# এবং সেই নামগুলো 'crew' কলামে রাখবে

In [22]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
1183,9889,Shallow Hal,A shallow man falls in love with a 300 pound w...,"[Comedy, Romance]","[overweight, beauty, hypnosis, overweight man,...","[Gwyneth Paltrow, Jack Black, Jason Alexander]","[Bobby Farrelly, Peter Farrelly]"
4215,15976,The Bubble,The movie follows a group of young friends in ...,"[Drama, Romance]",[gay],"[Ohad Knoller, Yousef Sweid, Daniella Wircer]",[Eytan Fox]
1571,22947,Up in the Air,George Clooney plays the dry cynical character...,"[Drama, Romance]","[suitcase, business, omaha, on the road, downs...","[George Clooney, Vera Farmiga, Anna Kendrick]",[Jason Reitman]
205,58574,Sherlock Holmes: A Game of Shadows,There is a new criminal mastermind at large (P...,"[Adventure, Action, Crime, Mystery]","[detective inspector, steampunk, criminal mast...","[Robert Downey Jr., Jude Law, Jared Harris]",[Guy Ritchie]
352,10674,Mulan,A tomboyish girl disguises herself as a young ...,"[Animation, Family, Adventure]","[homeland, musical, training, daughter, cricke...","[Eddie Murphy, Jackie Chan, Ming-Na Wen]","[Tony Bancroft, Barry Cook]"

In [ ]:
def collapse(L):
    L1 = []  # 📝 ফাঁকা লিস্ট যেখানে স্পেস ছাড়া নামগুলো জমা হবে
    for i in L:  # 🔄 প্রতিটি নামের উপর কাজ করবো
        L1.append(i.replace(" ",""))  # 🚫 স্পেস গুলো ফাঁকা করে নামগুলো নতুন লিস্টে যোগ করো
    return L1  # 🏁 স্পেস মুক্ত নামের লিস্ট রিটার্ন করো

In [ ]:
movies['cast'] = movies['cast'].apply(collapse)      # 🎭 'cast' লিস্ট থেকে স্পেস গুলো সরাবে
movies['crew'] = movies['crew'].apply(collapse)      # 👨‍💼 'crew' লিস্ট থেকে স্পেস মুছে দেবে
movies['genres'] = movies['genres'].apply(collapse)  # 🎨 'genres' লিস্ট থেকেও স্পেস সরানো হবে
movies['keywords'] = movies['keywords'].apply(collapse)  # 🔑 'keywords' লিস্ট থেকেও স্পেস মুছে দিবে

In [26]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())  
# ✂️ 'overview' টেক্সটকে ছোট ছোট শব্দে ভাগ করে একটি লিস্ট বানাবে

In [ ]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
# ➕ 'overview', 'genres', 'keywords', 'cast', 'crew' এই পাঁচটা কলামের তথ্যগুলো একসাথে যোগ করে নতুন একটি 'tags' কলাম তৈরি করলো

In [47]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
#new.head()

In [ ]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))  
# 🔗 'tags' কলামে থাকা শব্দের লিস্টগুলোকে একসাথে স্পেস দিয়ে যোগ করে একটা বড়ো স্ট্রিং বানাচ্ছে

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')
# 📚 CountVectorizer দিয়ে টেক্সটকে সংখ্যায় রূপান্তর করার জন্য সেটআপ করছো,
# 🔢 শুধু ৫০০০টা সবচেয়ে বেশি ব্যবহৃত শব্দ নেবে,
# 🚫 আর ইংরেজির সাধারণ 'stop words' (যেমন: the, is, at) বাদ দিবে

In [50]:
vector = cv.fit_transform(new['tags']).toarray()

In [ ]:
vector.shape

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
# 🤝 Cosine Similarity ইম্পোর্ট করছো
# 📏 এটা ব্যবহার করে দুইটা টেক্সটের মধ্যে similarity (সাদৃশ্যতা) মাপা হয়

In [52]:
similarity = cosine_similarity(vector)

In [ ]:
similarity

In [ ]:
new[new['title'] == 'The Lego Movie'].index[0]

In [ ]:
def recommend(movie):  # 🎬 ইউজার যে মুভি নাম দিবে সেটার উপর ভিত্তি করে রিকমেন্ডেশন দিবে
    index = new[new['title'] == movie].index[0]  # 🔍 ইউজার দেওয়া মুভির index খুঁজে বের করছে
    
    distances = sorted(
        list(enumerate(similarity[index])),  # 🧮 similarity array থেকে উক্ত মুভির সাথে অন্য মুভিগুলোর similarity বের করছে
        reverse=True,
        key = lambda x: x[1]  # 🔢 similarity স্কোর (index 1) অনুযায়ী descending order এ sort করছে
    )
    
    for i in distances[1:6]:  # 🔁 টপ 5 মুভি (excluding self i.e., distances[0]) প্রিন্ট করছে
        print(new.iloc[i[0]].title)  # 🖨️ similarity অনুযায়ী মুভির নাম দেখাচ্ছে

In [54]:
recommend('Gandhi')

Gandhi, My Father
The Wind That Shakes the Barley
A Passage to India
Guiana 1838
Ramanujan

In [55]:
import pickle

In [56]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))